<% if message.sender == "user" %>
  <div class="flex justify-end">
    <div class="text-right">
      <div class="bg-blue-500 text-white rounded-lg px-4 py-2 max-w-xs break-words inline-block">
        <%= message.content %>
      </div>
      <div class="text-xs text-gray-500 mt-1">
        <%= message.created_at.strftime("%H:%M") %>
      </div>
    </div>
  </div>
<% else %>
  <div class="flex justify-start">
    <div class="text-left">
      <div class="bg-gray-300 text-black rounded-lg px-4 py-2 max-w-xs break-words inline-block">
        <%= message.content %>
      </div>
      <div class="text-xs text-gray-500 mt-1">
        <%= message.created_at.strftime("%H:%M") %>
      </div>
    </div>
  </div>
<% end %>
